<div class="splash">
    <h1 class="splashDisplay"></h1>
<div>
    <div class="col-md-9 col-left">
            <h2 class="splashBody">our mission</h2>
            <div class ="splashCaption">Homeward is an application use for connecting lost dogs with their significant others. Our application is a venue for reporting lost, sighted, and found dogs. We believe that dogs are humanities best friend, and any dog we can save makes the world a better place</div>
        
    </div>
    </div>
</div>